article pre{
	white-space: pre;
	padding: initial;
	display: block;
	max-width: 100%;
	overflow-x: auto;
}

article pre, article code{
	font-family: Consolas;	/* monospace, Consolas, Segoe UI */
}

/* Fix background for hightlight plugin */
code.hljs{ 
	display: block; 
	padding: 1em;
	white-space: pre-wrap;
}